<div class="container">
    <br /><br />
    <div class="row">
      <div class="col">
        <p>
          <br />
          <img
            src="../../assets/icons/logoMockUp.png"
            class="center"
            alt=""
            width="70"
            height="240"
          />
        </p>
      </div>
      <div class="col">
        <div class="container">
          <div class="container-fluid">
            <br /><br />
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="home-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#home"
                  type="button"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                >
                  Log In
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="profile-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#profile"
                  type="button"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                >
                  Register
                </button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <app-login></app-login>
              </div>
              <div
                class="tab-pane fade"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <app-signup></app-signup>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  